<h1 [ngStyle]="{color: 'var(--primary-color)'}">LAS PLATAS</h1>

<div class="centered-container" >
    <div class="flex-column gap-2 box-shadow">
        
        <!-- titulo -->
        <h2 [ngStyle]="{color: 'var(--primary-color)'}">Criar conta</h2>

        <!-- input nome  -->
        <p-floatLabel>
            <input pInputText id="Nome" [(ngModel)]="nome" />
            <label [ngStyle]="{color: 'var(--primary-color)'}" for="nome">Nome</label>
        </p-floatLabel>

        <!-- input cpf -->

        <p-floatLabel class="inputMask">
            <p-inputMask  
                mask="999.999.999-99" 
                [(ngModel)]="cpf" 
                id="cpf" />
            <label [ngStyle]="{color: 'var(--primary-color)'}" for="cpf_input">CPF</label>
        </p-floatLabel>

        <!-- input email -->
        
        <p-floatLabel>
            <input pInputText id="email" [(ngModel)]="email" />
            <label [ngStyle]="{color: 'var(--primary-color)'}" for="email">E-mail</label>
        </p-floatLabel>

        
        <!-- input senha -->

        <p-floatLabel>
            <p-password  [(ngModel)]="password" [feedback]="false" [toggleMask]="true"/>
            <label [ngStyle]="{color: 'var(--primary-color)'}" for="password">Senha</label>
        </p-floatLabel>


        <!-- botão -->
        <div class="btn-container">
            <p-toast />
            <a><p-button (click)="salvarUsuario()" label="Cadastrar" [raised]="true"/></a>
        </div>


    </div>
</div>