<div class="card" style="display: flex; align-items: center; height: 100vh; margin-top: 550px;">
  <p-dataView #dv [value]="orderList" class="w-full md:w-8">
      <ng-template pTemplate="list" let-orderList>
          <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let item of orderList; let first = first" class="col-12">
                  <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                       [ngClass]="{ 'border-top-1 surface-border': !first }"
                       style="max-width: 1500px; margin: 0 auto;">  <!-- Limitando o tamanho da lista -->
                      <div class="md:w-10rem relative"
                      style="margin: 20px">
                          <img class="block xl:block mx-auto border-round w-full" [src]=" item.imagem" [alt]="item.titulo"/> 
                      </div>
                      <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                          <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                              <div>
                                  <span class="font-medium text-secondary text-sm"
                                  style=" font-weight: bold; margin: 20px">{{ item.titulo }}</span>

                                  <div class="text-lg font-medium text-900 mt-2"
                                  style="margin: 20px;">{{ item.descricao }}</div>
                              </div>
                          </div>
                          <div class="flex flex-column md:align-items-end gap-5">
                              <span class="text-xl font-semibold text-900"
                              style="font-weight: bold; margin: 20px">{{ '$' + item.preco }}</span>
                              <div class="flex justify-content-end gap-2"
                              style="margin: 20px">
                                  <p-button icon="pi pi-shopping-cart" class="white-space-nowrap" severity="primary"  label="Adicionar"></p-button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>
