<app-menubar></app-menubar>

<div style="display: flex; justify-content: center; align-items: center;">
  <!-- Div principal em coluna -->
  <div class="flex flex-column" style="gap: 2rem;">
      <!-- Imagem no topo -->
      <div style="text-align: center;">
          <p-image
              src="https://www.dudispizza.com.br/images/topbanner/lanches.png"
              alt="Image"
              width="1500" />
      </div>

      <!-- Conteúdo abaixo da imagem -->
      <div class="card1"
      style="margin: 20px">
          <div class="flex gap-5">
              <div class="flex-auto">
                  <p-avatar 
                      image="https://i.pinimg.com/236x/de/74/e4/de74e4a002b0e7eaaa165d1df85fac98.jpg"
                      styleClass="mr-2"
                      size="xlarge"
                      shape="circle"/>

                  <h2>Burger House</h2>

                  <p-tag severity="success" value="Aberto"></p-tag>
                  <p>Pedido mínimo: R$ 30,00</p>
                  <hr />

                  <h2>Mais Vendidos</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<app-carrossel></app-carrossel>

<div style="margin: 20px">
    <hr />
    <h2>Sanduiches</h2>
</div>

<app-order-list></app-order-list>

<div style="margin: 20px;">
    <hr />
    <h2>Fritas</h2>
</div>

<app-order-list1></app-order-list1>

<div style="margin: 20px;">
    <hr />
    <h2>Shake</h2>
</div>

<app-order-list2></app-order-list2>

<div>
    <hr />
</div>
