<app-menubar></app-menubar>
<!-- imagens -->

<div class="card ">
    <p-galleria
        [value]="images"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 101%; display: block; margin-top: 0%;" />
            </ng-template>
    </p-galleria>
  </div>

  